@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cinzel {
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
}

.medievalsharp {
    font-family: "MedievalSharp", cursive;
}

.medievalsharp-bold {
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
}

.bg-landing {
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/bgLanding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-home {
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/bgHome.jpg);
    backdrop-filter: blur(100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.bg-chat {
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/bgChat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-user-profile {
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/bgUserProfile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-user-character {
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/bgUserCharacter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form-card {
    transform: translate(50%, -50%)
}

.form-card img {
    width: 200px;
    align-self: center;
}

.form-card button {
    color: white;
}

.form-card button:hover {
    background-color: white;
    outline: 1px solid #8b7455;
    color: black;
    transition: 0.5s;
}

.container-home {
    max-height: 80vh;
    height: 100vh;
}

.container-modal {
    max-height: 75vh;
    transform: translate(-50%, -60%);
}

.container-chat {
    max-height: 70vh;
}

.container-input {
    max-height: 10vh;
}

.container-comments {
    max-height: 40vh;
}

.container-users {
    max-height: 30vh;
}

.alt-font {
    font-family: 'CinzelDecorative';
}

.modal {
    transform: translate(-50%);
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.387);
}

.scrollbar-ancient::-webkit-scrollbar-thumb {
    background-color: #8b7455;
    border-radius: 5px;
}

.scrollbar-scroll::-webkit-scrollbar-thumb {
    background-color: #e4bf8a;
    border-radius: 5px;
}

.character-select {
    appearance: w;
    cursor: pointer;
    outline: none;
}

.character-select:hover {
    appearance: none;
    cursor: pointer;
    outline: none;
}

#fileInput {
    display: none;
}