* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sfondo {
  width: 100%;
  height: 100vh;
  background-image: url(assets/img/SfondoPlaceHolder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form-card {
  width: 500px;
  background-color: #e4bf8a ;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  border: 2px solid #8b7455;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%)
  
}

.form-card img{
  width: 200px;
  align-self: center;
}

.form-card h1 {
  padding-bottom: 20px;
  text-align: center;
}

.form-structure {
  display: flex;
  flex-direction: column;
}

.form-structure button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  align-self: center;
  margin-top: 30px;
}

.form-structure input[type='text'] {
  height: 30px;
  margin: 10px 0;
  border: none;
  border-radius: 12px;
}

.form-structure a {
  margin-top: 15px;
  text-align: center;
  color: #8b7455;
}